body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#LoginButton,
#SignUpButton  {
  letter-spacing: 2px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
}

#signup,
#login,
#sellerdetails, #buyerdetails {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Style the container */
.file-input-container {
  position: relative;
}

/* Hide the default file input */
.file-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

/* Style the custom button */
.custom-file-input {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0e005a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Style the custom button on hover */
.custom-file-input:hover {
  background-color: #45a049;
}


label {
  opacity: 0.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hover-zoom:hover {
  height: max-content;
  width: max-content; /* Increase scale on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}
